* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: center;
  font-family: monospace;
}
.content h6 {
  font-size: 20px;
  color: #fff;
}
.content h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 90px;
  color: #fff;
}
.content p {
  font-size: 20px;
  color: #fff;
  padding-top: 20px;
}
.box {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

.box h2 {
  font-size: 3em;
}
.box p {
  font-size: 20px;
  text-align: justify;
  padding-top: 20px;
}

.models {
  display: flex;
  justify-content: space-between;
}

.box h3 {
  font-size: 3em;
  padding-top: 30px;
}

.box .logo {
  max-width: 300px;
}

.box2 {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  background: #000;
  text-align: center;
  line-height: 1.5;
}

.box2 h2 {
  font-size: 4em;
  color: #fff;
}
.box2 h5 {
  font-size: 2em;
  color: #fff;
}
.box2 h6 {
  font-size: 2em;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 15px;
}
.btn {
  padding: 15px 25px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
}

.iphone {
  margin-left: 70px;
}
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 15px;
}
